<div class="container">
  <% if @post %>
    <table>
      <tr>
        <td>
          <p><strong>Thank you for posting</strong></p>
        </td>
      </tr>

      <tr>
        <td>
          <p>you can use this url to edit or delete your post</p>
        </td>
      </tr>

       <tr>
        <td>
          <p><a href="/posts/edit/<%=@post.url%>">/posts/edit/<%=@post.url%></p>
        </td>
      </tr>

  <% else  %>


  <h1> Please fill out the form below</h1>

  <table>
    <tr>
      <td>
        <form action="/create" method="post">
          <p>which category would you like to post to?</p>
          <input type="radio" name="category_id" value=1> Tickets<br>
          <input type="radio" name="category_id" value=2> Electronics<br>
          <input type="radio" name="category_id" value=3 > Cars<br>
          <input type="radio" name="category_id" value=4> Boats<br>
          <input type="radio" name="category_id" value=5> Used Handkerchiefs<br>
          <input type="radio" name="category_id" value=6> Llama Adoption<br><br>
      </td>
    </tr>

    <tr>
      <td>
        <p>please enter a title for your post</p>
        <input type="text" name="title">
      </td>
    </tr>

    <tr>
      <td>
        <p>what is the price of your item?</p>
        <input type="text" name="price">
      </td>
    </tr>

    <tr>
      <td>
          <p>please give a brief description of the item</p>
          <textarea cols="40" rows="5" name="content">
          </textarea>
      </td>
    </tr>

    <tr>
      <td>
        <p>please enter an email address where you can be reached</p>
        <input type="text" name="email">
      </td>
    </tr>

    <tr>
      <td>
        <br>
        <input type="submit" value="submit">
      </td>
    </tr>



  </table>
</div>

  <% end %>
